/* styles/style.css */

/* Estilos básicos */
body {
    font-family: "Arial", sans-serif;
}

/* Estilo para links */
a {
    color: #1a73e8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilo para tabelas */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Estilo para cabeçalhos */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
}

/* Estilo para botões */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #1a73e8;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #155cb0;
}
