@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
* {
    font-family: "Titillium Web";
}
#nav-toggle {
    display: none;
}
.container h2 {
    font-size: 2.5rem;
}

@media (max-width: 1280px) {
    #nav-content {
        display: none;
    }

    #nav-toggle {
        display: block;
    }
    #modeToggle img {
        margin: auto;
    }
    #nav-toggle.open + #nav-content {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
        background-color: #003366fb;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 1em 0;
    }
    .dark-mode #nav-toggle.open + #nav-content {
        background-color: #1f1f1ffb;
    }

    #nav-content a {
        padding: 1em;
        text-align: center;
        width: 100%;
    }

    #nav-content a:hover {
        transform: scale(1.1);
    }
}
@media (max-width: 1028px) {
    #modeToggle img {
        width: 18% !important;
        height: 18% !important;
        margin: auto;
        padding-right: 35px;
    }
}
#nav-toggle.open .bar1 {
    transform: rotate(-45deg) translate(-4px, 6px);
}

#nav-toggle.open .bar2 {
    opacity: 0;
}

#nav-toggle.open .bar3 {
    transform: rotate(45deg) translate(-4px, -6px);
}

.bar1,
.bar2,
.bar3 {
    width: 25px;
    height: 3px;
    background-color: #f1f1f1;
    margin: 4px 30px;
    transition: 0.4s;
}

.gradient-bg {
    background: linear-gradient(to bottom, #003366, #008a3e);
}

.dark-mode .gradient-bg {
    background: linear-gradient(to bottom, #333333, #777777);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: auto;
    max-width: 300px;
    border-radius: 8px;
    margin: 0 auto;
}

.slick-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .text-4xl {
    font-size: 1.5rem;
}
#navAction {
    text-decoration: none;
    position: relative;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
#navAction:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

#navAction:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

#navAction::before {
    content: "";
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

#navAction:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

#modeToggle img {
    width: 30%;
    height: 30%;
}

#modeToggle img:hover {
    transform: scale(1.1);
}

.slick-prev,
.slick-next {
    color: #333;
    font-size: 24px;
    line-height: 1;
    opacity: 0.75;
    transition: opacity 0.3s ease;
}

.slick-prev:hover,
.slick-next:hover {
    opacity: 1;
}

.slick-prev:before,
.slick-next:before {
    font-family: "slick";
    font-size: 24px;
}

.slick-prev:before {
    content: "←";
}

.slick-next:before {
    content: "→";
}

#logo {
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 20px;
}

#logo img {
    width: 145px;
    height: auto;
    margin-left: 10px;
}

.navbar-item {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 15px 0 15px;
}

.navbar-item a {
    padding: 0 15px;
    color: #f1f1f1;
    text-decoration: none;
    font-weight: bold;
}

.dark-mode nav {
    background-color: #1f1f1f;
}

#header {
    background-color: #003366;
}

.dark-mode #header {
    background-color: #1f1f1f;
}

.dark-mode .bg-white {
    background-color: #1f1f1f;
    color: #f1f1f1;
}

#nav-content {
    background-color: transparent;
}

#marquee {
    padding: 0.5rem;
    width: 100%;
    background-color: #3d3b3c;
    position: relative;
    overflow: hidden;
}

#marquee .container {
    width: 100%;
    position: relative;
    padding-bottom: 1rem;
}

#marquee h2 {
    font-size: 1.5rem;
    margin: 0;
    color: #f1f1f1;
    text-align: center;
    margin-bottom: 0.5rem;
}

#marquee .pic-container {
    display: flex;
    gap: 200px;
    animation: marquee 30s linear infinite;
    position: relative;
}

#marquee .pic-container .pic {
    flex-basis: 20%;
    flex-shrink: 0;
    color: #f1f1f1;
}
#marquee .pic-container .pic img {
    filter: brightness(0) invert(1);
}

#marquee img {
    width: 65%;
    object-fit: cover;
}

#marquee::before,
#marquee::after {
    content: "";
    position: absolute;
    top: 0;
    width: 10%;
    height: 100%;
    pointer-events: none;
    z-index: 2;
}

#marquee::before {
    left: 0;
    background: linear-gradient(to right, #3d3b3c, transparent);
}

#marquee::after {
    right: 0;
    background: linear-gradient(to left, #3d3b3c, transparent);
}

@media (max-width: 1024px) {
    #marquee .pic-container .pic {
        flex-basis: 25%;
    }
    #marquee .pic-container {
        display: flex;
        gap: 200px;
        animation: marquee 25s linear infinite;
        position: relative;
    }
}

@media (max-width: 768px) {
    #marquee .pic-container .pic {
        flex-basis: 33.33%;
    }
    #marquee .pic-container {
        display: flex;
        gap: 200px;
        animation: marquee 15s linear infinite;
        position: relative;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-560%);
    }
}

.bg-gray-800 {
    background-color: #242424;
}

.text-white {
    color: #f1f1f1;
}

.text-gray-800 {
    color: #111111;
}

.rounded-full {
    border-radius: 9999px;
}

.bg-gray-700 {
    background-color: #333333;
}

.bg-blue-500 {
    background-color: #007bff;
}

.hover\:bg-blue-600:hover {
    background-color: #0056b3;
}

.transition {
    transition: all 0.3s ease-in-out;
}

.duration-300 {
    transition-duration: 300ms;
}

.font-bold {
    font-weight: bold;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.p-4 {
    padding: 1rem;
}

.p-8 {
    padding: 2rem;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-2xl {
    font-size: 1.5rem;
}

.text-4xl {
    font-size: 2.25rem;
}

.inline-block {
    display: inline-block;
}

.rounded-full {
    border-radius: 9999px;
}

.container {
    max-width: 1200px;
}

.grid {
    display: grid;
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 5px;
}

.grid-cols-1 div a button {
    width: 75%;
    color: #f1f1f1;
}

.md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.gap-8 {
    gap: 2rem;
}

.shadow {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.transition {
    transition: all 0.3s ease-in-out;
}

nav a {
    color: #f1f1f1;
    transition: 0.3s;
}

.dark-mode nav a {
    color: #f1f1f1;
}

nav a:hover {
    color: #0062ff;
}

body.dark-mode {
    background-color: #121212;
    color: #f1f1f1;
}

body.dark-mode .bg-white {
    background-color: #333333;
    color: #f1f1f1;
}

body.dark-mode .text-gray-800 {
    color: #f1f1f1;
}

body.dark-mode .text-gray-600 {
    color: #bbbbbb;
}

body.dark-mode .team-carousel .text-gray-800 {
    color: #f1f1f1;
}

body.dark-mode .team-carousel .text-gray-600 {
    color: #bbbbbb;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}
.image-container img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    object-fit: cover;
}
.image-container-project img {
    border-radius: 10%;
    max-width: 250px;
    margin-left: 1rem;
}

.project-item {
    position: relative;
    overflow: hidden;
}

.project-item::before {
    content: "Conheça Mais";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 2;
}

.project-item:hover::before {
    opacity: 1;
}

.project-item img {
    transition: transform 0.3s ease-in-out;
}

.project-item:hover img {
    transform: scale(1.05);
}

.dark-mode .waves path {
    fill: #333333;
}
@media (max-width: 850px) {
    #descricao h2 {
        text-align: center;
    }

    #descricao .flex-wrap {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #descricao .w-full {
        max-width: 100%;
    }

    #descricao img {
        margin: 0 auto;
    }

    #descricao .p-6 {
        padding-left: 10px;
        padding-right: 10px;
    }

    #funcionalidades h2 {
        text-align: center;
    }

    #funcionalidades .flex-wrap {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    #funcionalidades .w-full {
        max-width: 100%;
    }

    #funcionalidades .p-6 {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    #funcionalidades .image-container-project {
        margin: 0 auto;
    }

    #funcionalidades img {
        margin: auto;
    }

    #funcionalidades .flex {
        flex-direction: column;
        align-items: center;
    }

    #funcionalidades .w {
        margin: auto;
        width: 100%;
    }
}

footer {
    background-color: #003366;
    color: #f1f1f1;
    padding: 15px 0;
    text-align: center;
}

.dark-mode footer {
    background-color: #1f1f1f;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    margin: 0;
    font-size: 14px;
}
